body {
background-color: #025769;
height: 100vh;
width: 100vw;
}
#time {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6vh;
  line-height: 37px;
}

#battery {
 height: 5.5vh;
 width: 10vw;
}

#date {
  font-weight: bold;
}
